/*----- Assets ------------------------
Fonts;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;

Colours;
background color - rgb(31, 32, 43)
bright pink - #ff0066
white - #ffffff
---------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 32, 43);
    font-family: 'Montserrat', sans-serif;    
    font-size: 16px;
    box-sizing: border-box;
}


/*--- Burger Nav Bar----*/

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px 0;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.hero-area {
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
    height: 900px;  
    width: 100%;  
}

.hero-area h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    color: #fff;
    margin-left: 170px;
    padding-top: 400px;
    width: 800px;
    background-color:
}

.hero-area h1 span {
    color: #ff0066;   
}

/*--------- Portfolio ---------*/

.content-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    box-sizing: border-box;  
    background-color: blue;
}

#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: violet;
}

#portfolio h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.25em;
    color:#ff0066;
    margin-top: 44px;   
}

#portfolio a {
    text-decoration: none;
    color: #fff;
}

#portfolio h3 {
    color: #fff;
    font-size: 1.5em;
}

#portfolio h3 span {
    font-weight: 400;
    color: #fff;
}

#portfolio p {
    margin-top: 10px;
    color: #fff;
    font-size: 1.3125em;
    line-height: 1.6875em;
}

.portfolio-left {
   
    width: 650px;
    height: 450px;
    margin-top: 91px;
    margin-right: 86px;
    background-color: lightgreen;
}

.portfolio-right {
    
    width: 650px;  /*w 550 h 350*/
    height: 450px; 
    margin-top: 91px;  
    margin-left: 86px;
    background-color: lightpink;
}


/*--------- About Me ----------*/

#about {
    background-image: url('../img/about-me.png');
    background-size: cover;
    background-position: center;
    height: 700px;  
    /*flex-direction: column;*/ 
    background-color: green;
}

.about-top h3 {
    color: #ff0066;
    font-family: 'Source Code Pro', monospace;
    font-size: 38px;
    text-align: center;
    padding-top: 49px;   
    background-color: orange; 
}

.about-body {
    
  
    margin-right: 800px;
    background-color: salmon;
}

.about-body h5 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 72px;
    margin-left: 90px;
    text-align: left;
}

.about-body p {
    width: 60%;
    font-size: 1.5em;
    margin-left: 90px;
    margin-top: 31px;
    line-height: 32px;
    background-color: yellow;
}

/*----------- Footer ----------*/

footer h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    color:#ff0066;
    margin-top: 44px;   
}

.footer-content {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;  
    background-color: yellow; 
}

#contact {
    width: 30%;
    text-align: center;  
    background-color: blue; 
}

#contact p {
    margin-top: 20px;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

.social {
    width: 30%;
    text-align: center;
    
    background-color: lightpink;
}
/*
.social-icons p {
    background-color: orange;
    text-align: center;
}*/
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons p {
    text-align: center;
    
    margin-top: 20px;
    background-color: white; 
}

.fa-github {
    color: #ff0066;
    font-size: 42px;  
    border-radius: 50%;
    padding: 5px;
   
}

.fa-twitter {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
}

.fa-linkedin-in {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 6px;
    padding-left: 8px;
    font-size: 29px;
} 

.fa-instagram {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 6px;
    padding-left: 8px;
    font-size: 29px;
}

.hello {
    width: 30%;
    display: flex;
    justify-content: center;   
    background-color: teal;
}

.container {
    position: relative;
    width: 40%;
    display: flex;   
}

.container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff0066;
    border-radius: 50%;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate (-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.copyright {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

/*------------------------------------------------------
 Media Queries 
 -----------------------------------------------------*/
 @media screen and (max-width: 812px) {

    .content-wrapper {
        width: 100%;
        display: flex;
    }

    .hero-area h1 {
        font-family: 'Source Code Pro', monospace;
        font-size: 52px;
        color: black;
        margin-left: 10px;
        padding-top: 400px;
        width: 100%;  
        background-color: salmon; 
    }

    #portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .portfolio-left {
        
        width: 100%;
        height: 250px;
        margin-top: 91px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: lightgreen;
    }
    
    .portfolio-right {
        
        width: 100%;  /*w 550 h 350*/
        height: 250px; 
        margin-top: 91px;  
        margin-left: 10px;
        margin-right: 10px;
        background-color: lightpink;
    }

    div#jubilee-img {order: 1;}
    div#jubilee-text {order: 2;}
    div#unplugged-text {order: 4;}
    div#unplugged-img {order: 3;}
    div#magic8-img {order: 5;}
    div#magic8-text {order: 6;}
       
    }

    img {
        max-width: 100%;
        margin: auto 0;
    }

    .about-body {
        width: 100%;
        margin-left: 0px;
        margin-right: 800px;
        background-color: salmon;
    }
    
    .about-body h5 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 72px;
    }
    
    .about-body p {
        font-size: 20px;
        margin-top: 31px;
        line-height: 32px;
    }

    

 }

