/*----- Assets ------------------------
Fonts;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;

Colours;
background color - rgb(31, 32, 43)
bright pink - #ff0066
white - #ffffff
---------------------------------------*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(31, 32, 43);
    font-family: 'Montserrat', sans-serif;    
    font-size: 16px;
    box-sizing: border-box;
}


/*--- Nav Menu ----*/

.nav li a {
    color: #ff0066;
    text-decoration: none;    
}

.nav li a:hover {
    font-weight: bold;
}

.nav li {
    list-style: none;
    padding: 16px 0;
    font-size: 1.5em;      
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between; 
    margin-left: 1300px; 
    
}

/*------ Top Portion -----*/

#hero {
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
    height: 900px;  
    width: 100%; 
    background-color: orange; 
    margin-top: -30px;
    
}

.hero-area h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    color: #fff;
    margin-left: 170px;
    padding-top: 400px;
    width: 800px;

}

.hero-area h1 span {
    color: #ff0066;   
}

/*--------- Portfolio ---------*/

.content-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;  
}

#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#portfolio h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.25em;
    color:#ff0066;
    margin-top: 44px;   
}

#portfolio a {
    text-decoration: none;
    color: #fff;
}

#portfolio h3 {
    color: #fff;
    font-size: 1.5em;
}

#portfolio h3 span {
    font-weight: 400;
    color: #fff;
}

#portfolio p {
    margin-top: 10px;
    color: #fff;
    font-size: 1.3125em;
    line-height: 1.6875em;
}

.portfolio-left {
   
    width: 650px;
    height: 450px;
    margin-top: 91px;
    margin-right: 86px;
}

.portfolio-right {
    
    width: 650px;  /*w 550 h 350*/
    height: 450px; 
    margin-top: 91px;  
    margin-left: 86px;
}

/*--------- About Me ----------*/

#about {
    background-image: url('../img/about-me.png');
    background-size: cover;
    background-position: center;
    height: 700px;      
}

.about-top h3 {
    color: #ff0066;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.375em;
    text-align: center;
    padding-top: 49px;   
}

.about-body {
    line-height: 5px;
    margin-right: 800px;
    width: 100%;
}

.about-body h5 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 72px;
    margin-left: 90px;
    text-align: left;
    line-height: 1.5em;
}

.about-body p {
    width: 60%;
    
    font-size: 1.5em;
    line-height: 1.5em;
    margin-left: 90px;
    margin-top: 31px;   
}

/*----------- Footer ----------*/

footer h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.25em;
    color:#ff0066;
    margin-top: 44px;   
}

.footer-content {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.25em;  
    
}

#contact {
    width: 30%;
    text-align: center;  
}

#contact p {
    margin-top: 20px;
}

#contact a {
    text-decoration: none;
    color: #fff;
}

.contact-rspv {
    display: none;
}

.social {
    width: 30%;
    text-align: center;   
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icons p {
    text-align: center;
    margin-top: 20px;  
}

.fa-github {
    color: #ff0066;
    font-size: 2.625em;  
    border-radius: 0%;   
}

.fa-twitter {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.875em;
}

.fa-linkedin-in {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 6px;
    padding-left: 8px;
    font-size: 1.8125em;
} 

.fa-instagram {
    color: rgb(31, 32, 43);
    background-color: #ff0066;
    border-radius: 50%;
    padding: 6px;
    padding-left: 8px;
    font-size: 1.8125em;
}

.hello {
    width: 30%;
    display: flex;
    justify-content: center;   
}

.container {
    position: relative;
    width: 40%;
    display: flex;   
}

.container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ff0066;
    border-radius: 50%;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate (-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.copyright {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#myBtn {
    display: none;
    position: fixed;/* Sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Position the button 30px from the right */
    z-index: 99; /* Make sure it doesn't overlap */
    border:  none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 1em;
}

#myBtn:hover {
    background-color: grey;
}

/*------------------------------------------------------
 Media Queries 
 -----------------------------------------------------*/
 @media screen and (max-width: 1366px) {

    .content-wrapper {
        width: 100%;
        display: flex;
    }

    /*----  Burger Nav -----*/

    #menu {
        width: 35px;
        height: 35px;
        margin: 30px 0 20px 20px;
        cursor: pointer;        
    }
    
    .bar {
        height: 5px;
        width: 100%;
        background-color: #b81568;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;   
    }
    
    #bar1 {
        transform: translateY(-4px);
    }
    
    #bar3 {
        transform: translateY(4px);
    }
    
    .nav li a {
        color: #ff0066;
        text-decoration: none;
    }
    
    .nav li a:hover {
        font-weight: bold;
    }
    
    .nav li {
        list-style: none;
        padding: 16px 0;
        font-size: 1.5em;
        line-height: .5em;
    }
    
    .nav {
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
        position: absolute;    
    }
    
    .change .bar {
        background-color: white;
    }
    
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar3 {
        transform: translateY(-6px) rotate(45deg);
    }
    
    .change #bar2 {
        opacity: 0;
    }
    
    .change {
        display: block;
    }

    /*------ Top Portion -----*/

    #hero {
        background-image: url('../img/hero-background.png');
        background-size: cover;
        background-position: center;
        height: 400px;  
        width: 100%;  
        margin-top: -50px;
    }

    .hero-area h1 {
        font-family: 'Source Code Pro', monospace;
        font-size: 2.5em;
        color: #fff;
        margin-left: 20px;
        padding-top: 225px;
        width: 100%;  
    }

    /*--------- Portfolio ---------*/

    #portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #portfolio h2 { 
        font-size: 2em;     
    }

    #portfolio h3 {
        font-size: 1.25em;
    }

    #portfolio p {
        font-size: 1em;
        line-height: 1.6875em;
    }

    .portfolio-left {
        width: 550px;
        height: 250px;
        margin-top: 91px;
        margin: auto 0;
    }
    
    .portfolio-right { 
        width: 550px;  /*w 550 h 350*/
        height: 250px; 
        margin-top: 91px;  
        margin: auto 0;
    }

    #jubilee-text {
        margin-top: 130px;
    }

    #unplugged-text {
        margin-top: 130px;
    }

    #magic8-text {
        margin-top: 130px;
    }

    div#jubilee-img {order: 1;}
    div#jubilee-text {order: 2;}
    div#unplugged-text {order: 4;}
    div#unplugged-img {order: 3;}
    div#magic8-img {order: 5;}
    div#magic8-text {order: 6;}
       
    
    img {
        max-width: 100%;
        margin: auto 0;
    }

    /*--------- About Me ----------*/

    #about {
        background-image: url('../img/about-me.png');
        background-size: cover;
        background-position: center;
        height: 700px;      
    }
    
    .about-body {
        width: 100%;
        margin-left: 0px;
        margin-right: 800px;
    }
    
    .about-body h5 {
        font-size: 1.25em;
        font-weight: bold;
        margin-top: 72px;
        margin-left: 50px;    
    }
    
    .about-body p {
        font-size: 1em;
        margin-top: 24px;
        line-height: 1.5em;
        width: 80%;
        text-align: left;
        margin-left: 50px;
    }

    /*----------- Footer ----------*/

    .footer-content {
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 0.875em;  
    }

    footer h2 { 
        font-size: 2em;     
    }

    #contact {
        width: 30%;
        text-align: center;  
        font-size: 1.25em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        background-color:  #fff;
    }
    
    #contact p {
        display: none;
    }
    
    #contact a {
        text-decoration: none;
        color: rgb(31, 32, 43);
    }

    .social {
        width: 30%;
        text-align: center;
        margin-top: 10px;  
    }

    .social h4 {
        display: none;
    }

    .fa-github {
        color: rgb(31, 32, 43);
        font-size: 1.75em;    
        background-color:#ff0066;
        border-radius: 50%;
    }
    
    .fa-twitter {
        color: rgb(31, 32, 43);
        background-color: #ff0066;
        border-radius: 50%;
        padding: 5px;
        font-size: .875em;
    }
    
    .fa-linkedin-in {
        color: rgb(31, 32, 43);
        background-color: #ff0066;
        border-radius: 50%;
        padding: 6px;
        padding-left: 8px;
        font-size: .875em;
    } 
    
    .fa-instagram {
        color: rgb(31, 32, 43);
        background-color: #ff0066;
        border-radius: 50%;
        padding: 6px;
        padding-left: 8px;
        font-size: .795em;
    }

    .hello {
        display: none;
    }
 }



