/*----- Assets ------------------------
Fonts;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;

Colours;
background color - rgb(31, 32, 43)
bright pink - #ff0066
white - #ffffff
---------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(31, 32, 43);*/
    font-family: 'Montserrat', sans-serif;    
    font-size: 16px;
}

/*---- Header ----*/

header {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}
header nav {
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 1em;
    width: 30%;   
} 

header nav ul {
    list-style-type: none;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 2px;  
    width: 95%;
     
}

header nav ul li {
    
}

header a {
    color: #fff;
    text-decoration: none;
}

.hero-area {
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
    height: 900px;    
}

.hero-area h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 72px;
    color: #fff;
    margin-left: 170px;
    padding-top: 400px;
   
}

.hero-area h1 span {
    color: #ff0066;
    
}

.content-wrapper {
    max-width: 100%;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    box-sizing: border-box;  
    /*background-color: lightgrey;*/
}

.portfolio h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    color:#ff0066;
    margin-top: 44px;   
}

.portfolio h3 {
    color: #fff;
    font-size: 24px;
}

.portfolio h3 span {
    font-weight: 400;
    color: #fff;
}

.portfolio p {
    margin-top: 10px;
    color: #fff;
    font-size: 21px;
    line-height: 27px;
}
.portfolio-left {
    flex-direction: column;
    width: 650px;
    height: 450px;
    margin-top: 91px;
    margin-right: 86px;
    
    /*background-color: lightpink;*/
}

.portfolio-right {
    flex-direction: column;
    width: 650px;  /*w 550 h 350*/
    height: 450px; 
    margin-top: 91px;  
    margin-left: 86px;
    /*background-color: lightblue;*/
}

.about {
    background-image: url('../img/about-me.png');
    background-size: cover;
    background-position: center;
    height: 700px;       
}

.about-top h3 {
    color: #ff0066;
    font-family: 'Source Code Pro', monospace;
    font-size: 38px;
    text-align: center;
    padding-top: 49px;    
}

.about-body {
    width: 50%;
    margin-left: 100px;
}

.about-body h5 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 72px;
}

.about-body p {
    font-size: 24px;
    margin-top: 31px;
    line-height: 32px;
}

.footer-content h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
    color:#ff0066;
    margin-top: 44px;
}

.footer-content {
    color: #fff;
}



.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 255px;
    margin-left: 20px;
  
}

.social-icons p {
    font-size: 42px;
   
    border: 2px solid #ff0066;
    border-radius: 70px 50px;
    background-color: yellow;
}